<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title></title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/leaflet.js"></script>
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.js'></script>
  <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
  <script src='/js/leaflet.path.drag.js'></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!-- script src='/js/leaflet.toolbar.js'></script> -->

  <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css' rel='stylesheet' />  
  <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
  
  <style>
    body { margin:0; padding:0; }
    #map {  width:auto; height: 600px; }
  </style>
</head>
<body>
  <div id="map"></div>
  <div id="selectedCoord" style="display:none;">
    <h2>Selected Coordinates</h2>
    <p></p>
  </div>
  <script type="text/javascript">
    /*var geometry = {"type":"Polygon","coordinates":[[[-95.1470947265625,42.2685019842801],   [-94.9493408203125,42.2400409352592],[-94.866943359375,42.3213241404624],[-95.0372314453125,42.4349444401055]]]};*/
    //var map = L.mapbox.map('map', 'Polygon example').setView([30.45,24.61], 10);
    var geometry = <%= geoC %>;
    //var geometry = "";
    
    //window.map = new L.Map('map', {center: new L.LatLng(6, 5), zoom: 7 });
    //var map = L.map('map', {measureControl: true, center: [4, 8], zoom: 6});
    //var map = L.map('map').setView([4, 8], 4);

    /* Google Map */    
   var base = {
      'Empty': L.tileLayer(''),
      'OpenStreetMap': L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        'attribution': 'Map data &copy; openstreetmap contributors'
      }),
    };


    var map = L.map('map', {
                'center': [10, 85],
                'zoom': 4,
                'layers': [
                  base.OpenStreetMap
                ],
                //dragging: true,
              });


    /* Google Map */
    //map.dragging.disable(); //Disable Dragging
    
    var featureGroup = L.featureGroup().addTo(map);
    
    var editableLayers = L.geoJson(geometry, {
                           onEachFeature: function (feature, layer) {                              
                                 layer.editing.enable();
                                 layer.options.draggable = true;
                           },
                           //draggable:true,                         
                        }).addTo(map);

    map.addLayer(editableLayers);     

    //var polygon = new L.Polygon([...], { draggable: true }).addTo(map);
   
    var drawControl = new L.Control.Draw({
        draw: {
            marker: false,
            rectangle: false,
            polyline: false,
            circle: false, 
            polygon:false, 

        },
        position:"topleft",
        edit: {
            featureGroup: editableLayers,
            edit:false,
            remove:false,
        }
    }).addTo(map); 

    /**/


  </script>
</body>
</html>